server:
  port: 72
  ssl:
    enabled: true
    certificate: /etc/letsencrypt/live/api.teda.uz/fullchain.pem
    certificate-private-key: /etc/letsencrypt/live/api.teda.uz/privkey.pem
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/avantage1
    #    url: jdbc:postgresql://185.185.80.245/avantage1
    username: admin
    password: Turgun1970$
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
  sql:
    init:
      mode: never
  mvc:
    servlet:
      path: /api
    log-request-details: true
  servlet:
    multipart:
      max-request-size: 100MB
      max-file-size: 100MB
debug: true
logging:
  level:
    web: debug
